h1{
  color: purple;
}
div {
  border: 1px solid black;
  margin-left: 80px;
  margin-right: 1000px;
}
h2{
  font-family: monospace;
  font-style: italic;
  padding: 5px;
  color: #581845;
}
.Midwest{
  font-family: monospace;
  font-style: italic;
  color: #900C3F;
  padding: 5px;
}
p{
  background-color: gray;
  border-radius: 10px;
}
#lega{
  font-style: italic;
  color: #444;
  background-color: black;
}
body{
  border: 5px solid cyan;
  background-color: black;
  color: white
}
